/* Begin Navbar style */
.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
  border-radius: 25px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  background-image: linear-gradient(to bottom right, DarkSalmon, Pink);
}

.topnav a.active {
  background-color: DarkSalmon;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}
/* End navbar style */

body {
  background-image: url(background.jpg);
}

h1 {
  text-align: center;
  padding-top: 20px;
}



.AM-First {
  padding-top: 10px;
  text-align: center;
  font: Sans-serif;
  padding-right: 100px;
  padding-left: 100px;

}

.Pic-of-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

hr {
  border-top: 1px dashed black;
  width: 50%;
}


.box{
  margin: 10%
  border-radius: 25px;
  background-color: #D3D3D380;
  padding: 2%
  overflow: hidden;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.box-past{
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 25px;
  background-color: #D3D3D380;
  padding: 2%
  overflow: hidden;
  position: absolute;
  border-radius: 25px;
}

.box-future{
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 25px;
  background-color: #D3D3D380;
  padding: 2%
  overflow: hidden;
  position: centered;
  border-radius: 25px;
}

.countries {
  text-align: center;
}

.visited {
  text-align: center;
}

.Countries-list {
  text-align: center;
  list-style-position: inside;
  padding-left: 0;
}

.Countries-list-vis {
  text-align: center;
  list-style-position: inside;
  padding-bottom: 10;
}


.past-table th, td {
  border:1px solid black;
}

.past-table {
  margin-left: auto;
  margin-right: auto;
}

.past-sum {
  text-align: center;
}

.table-head {
  text-align: center;
}


.IT-past {
  text-align: center;

}

#heading {
  background-color: #D3D3D380;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.future-hope {
  padding-top: 10px;
  text-align: center;
}

.future-sum {
  text-align: center;
}

.future-jobs {
  text-align: center;
}

.pathways {
  text-align: center;
}

.job-list {
  text-align: center;
  list-style-position: inside;
  padding-bottom: 10;
}

.company {
  text-align: center;
}

.company-list {
  text-align: center;
  list-style-position: inside;
  padding-bottom: 10;
}

.faang {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-left: 30px;
}
